
/*--end reset--*/
body {
    font-family: 'Open Sans', sans-serif;
  
    background-attachment: fixed;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
} 
body a {
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
	text-decoration: none;
}  

.agileinfo-row {
    float: left;
    width: 48%;
}
.agileinfo-row.w3ls-row2 {
    float:right; 
}
.main-agileinfo {
 
    margin: 0 auto;

    
}

.btn_upload{
  padding: 5px 1px;
  color: white;
  background-color: #009578;
  border: 1px solid #000;
  border-radius: 5px;
  cursor: pointer;
 

}
/*--codigo para el el upload--*/ 



#custom-button:hover {
  background-color: #00b28f;
}

#custom-text {
  margin-left: 10px;
  font-family: sans-serif;
  color: #aaa;
}


